<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezlinker.app.modules.internalmessage.mapper.InternalMessageMapper">
    <resultMap id="BaseResultMap" type="com.ezlinker.app.modules.internalmessage.model.InternalMessage">
        <!--@mbg.generated-->
        <!--@Table ez_internal_message-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="record_version" jdbcType="INTEGER" property="recordVersion"/>
        <result column="x" jdbcType="BOOLEAN" property="x"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `type`, content, title, `status`, user_id, record_version, x, create_time
    </sql>
    <update id="mark" parameterType="long">
        UPDATE ez_internal_message
        SET status=1
        WHERE id=#{id,jdbcType=BIGINT}
    </update>

</mapper>